<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            body {background-color: #f6f6f6; font-family: "Courier 10 Pitch", serif;}
            h3 {color: cadetblue; font-size: 200%;}
            a {color: #dc3545}
            a.list {color: #5eb5e0;}
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
